k8s {
    pod.nodeSelector = 'exp=ebpf'
}

process {
    executor = 'k8s'
}

k8s {
    debug.yaml = true
    namespace = 'joelwitzke'
    workDir = '/workspace/data/work/'
    projectDir = '/workspace/data/project/'
    imagePullPolicy = 'IfNotPresent'
    launchDir = '/workspace/data/launch/'
    storageClaimName = 'workflow-monitoring-data'
    storageMountPath = '/workspace'
    runAsUser = 0
    fetchNodeName = true
}
